<%- include ('partials/header2') -%>
	<div class="background"></div>
	<div class="fullscreen">
		<div class="container"><%- message %></div>
	</div>
	<style>
		#container2{
			padding:0 !important;
		}
		
		#top-menu{display:none;}

		#menu-opener{display:none}
	</style>
<%- include ('partials/footer') -%>